.Form {
    border-bottom: '2px #FFA500 solid';
    background-color: '#ffffff';
    border-radius: '10px';
    margin-top: '10px';
    padding: '5px';
    width: '100%';
    max-width: '30rem';
  
  }
  
  .Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }