.FormContainer {
    background: linear-gradient(135deg, #ffffff, #f8f9fa);
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
}
  
.alert-warning {
    background-color: #fff4e5;
    border-color: #ffc107;
    color: #856404;
}
  
.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}
  
.Link {
    color: #007bff;
    text-decoration: none;
}
  
.Link:hover {
    text-decoration: underline;
}
  
.rounded-pill {
    border-radius: 50px !important;
}
  
.Button:hover {
    background-color: #0056b3 !important;
}
  