.listpage {
    padding-top: 20px;
}

.taskcard {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px #f5f5f5;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    position: relative;
}

.expanded {
    position: absolute;
    z-index: 1000;
}

.taskcard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.cardheader {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
}

.cardbody {
    padding: 15px;
    background-color: #fafafa;
}

.task-card-button {
    text-align: left;
    width: 100%;
    padding: 0;
    color: #007bff;
}

.task-card-button:hover {
    text-decoration: none;
}

.text-center {
    margin-top: 20px;
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
}
  
.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
}
  
.SearchIcon:hover {
    cursor: default;
    color: #cfced3;
}

@media (max-width: 768px) {
    .task-card-header {
        font-size: 1rem;
    }

    .task-card-body {
        padding: 10px;
    }
}
