.OptionLabel {
    display: flex;
    align-items:flex-start;
}

.OptionLabel .fa-circle {
    margin-right: 10px;
}

.Low {
    color: green;
}

.Medium {
    color: orange;
}

.High {
    color: red;
}

