.App {
    font-family: "Montserrat", "Roboto", sans-serif;
    color: #000000;
    background-color: #ffffff;
    min-height: 100vh;
    /* background-image: url("https://images.pexels.com/photos/9869075/pexels-photo-9869075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    /* background-repeat: no-repeat; */
    /* background-position: center;
    background-size: cover; */
   
}


.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0077FF;
    transition: color ease-in-out 0.4s;
}

a:hover {
    text-decoration: none;
    list-style: none;
}

a:hover i {
    color: #4da0ff;
}

i {
    color: #0077FF;
    font-size: 1.5rem;
    vertical-align: middle;
}

i:hover {
    color: #4da0ff;
    cursor: pointer;
    transition: color ease-in-out;
}


.Header {
    font-size: 40px;
    text-align: center;
    font-family: "Roboto";
}

.Form {
    text-align: -webkit-center;
}

.TextAlignCenter {
    text-align: center;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }